body {
	background-image: url('../img/background.png');
	background-repeat: repeat;
}

.navbar-brand {
	color: #000;
	font-weight: bold;
}

.nav-tabs {
	border-bottom: none;
}

.jumbotron {
	height: 100%;
	background-image: url('../img/keyboard.jpg');
	background-color: #ccc;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	color: #fff;
	font-weight: bold;
	text-shadow: 0em 0em .75em #000;
}

.btn {
	background-color: #ccc;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	webkit-transition: 1s;
	transition: 1s;
}

.btn:hover {
	background-color: #006699;
	color: #fff;
}

.col-md-8 {
	padding-top: 30px;

}

.col-md-4 {
	padding-top: 30px;
}

.col-md-8 p {
	font-size: 1.5em;

}

.col-md-8 h1 {
	border-bottom: 2px solid #ccc;
}

.col-md-8 a {
	color: #0099cc;
}

.col-md-8 a:hover {
	background-color: #006699;
	color: #fff;
	border-radius: 5px;
	padding: 2px;
}

.col-md-4 img {
	width: 100%;
	border: 3px solid black;

}

.footer {
	padding-top: 20px;
	padding-right: 20px;
	margin-top:	15px;
	background-color: #006699;
	color: lightgray;
}